Repository CircleCI-Public/dynamic-configuration-examples: changes, and which CircleCI parameters are due for each by the changed paths.
All: always-continue, build-code, build-docs

update base branch
  .circleci/config.yml
  .gitignore
Due: always-continue

move docs and code into correct location
  docs/README.adoc
  src/README.adoc
Due: always-continue, build-code, build-docs

update title in readme
  README.adoc
Due: always-continue

add a change to docs README to trigger build that uses docs-config
  docs/README.adoc
Due: always-continue, build-docs

add any change job
  .circleci/shared-config.yml
Due: always-continue

update main readme
  README.adoc
Due: always-continue

add any-change workflow
  .circleci/shared-config.yml
  README.adoc
Due: always-continue

update badge
  README.adoc
Due: always-continue

add project
  .circleci/code-config.yml
  .circleci/config.yml
  .circleci/docs-config.yml
  .circleci/shared/@shared.yml
  .circleci/shared/jobs/any-change.yml
  .circleci/shared/jobs/lint.yml
  .circleci/shared/jobs/test.yml
  .circleci/shared/workflows/run-on-any-change.yml
  README.adoc
  docs/README.adoc
  src/README.adoc
Due: always-continue, build-code, build-docs

fix shared
  .circleci/shared/jobs/test.yml
Due: always-continue

add shared workflow
  .circleci/shared/workflows/run-on-any-change.yml
Due: always-continue

fix up readmes
  README.adoc
  docs/README.adoc
  src/README.adoc
Due: always-continue, build-code, build-docs

add change to docs readme
  docs/README.adoc
Due: always-continue, build-docs

update readme to point to docs
  README.md
Due: always-continue

update readme format
  README.adoc
Due: always-continue

remove badge
  README.adoc
Due: always-continue

mention main and modified
  README.adoc
Due: always-continue

basic config
  .circleci/config.yml
Due: always-continue

update readme with links to branches
  README.adoc
Due: always-continue

Path conditions:
  always-continue: any of: .*
  build-code: any of: src/.*
  build-docs: any of: docs/.*
